
    
    table {
    border: 2px solid forestgreen;
    width: 100vw;
    height: 200px;
    }
    
    th {
    border-bottom: 1px solid black;
    }
    
    td {
    width: 25%;
    }

    .numId{
        text-align: center;
    }
    